// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-size: #{$font-base }#{$font-unit};
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}


// TODO - make this a function / mixin
$font-size-h1: #{$font-base + (5 * $font-increment)}#{$font-unit};
$font-size-h2: #{$font-base + (4 * $font-increment)}#{$font-unit};
$font-size-h3: #{$font-base + (3 * $font-increment)}#{$font-unit};
$font-size-h4: #{$font-base + (2 * $font-increment)}#{$font-unit};
$font-size-h5: #{$font-base + (1 * $font-increment)}#{$font-unit};
$font-size-h6: #{$font-base + (0 * $font-increment)}#{$font-unit};

%h-font-family{
  font-family: $headline-font-stack;
}


h1, .h1 {
  font-size: $font-size-h1;
  @extend %h-font-family;
}
h2, .h2 {
  font-size: $font-size-h2;
  @extend %h-font-family;
}
h3, .h3 {
  font-size: $font-size-h3;
  @extend %h-font-family;
}
h4, .h4 {
  font-size: $font-size-h4;
  @extend %h-font-family;
}
h5, .h5 {
  font-size: $font-size-h5;
  @extend %h-font-family;
}
h6, .h6 {
  font-size: $font-size-h6;
  @extend %h-font-family;
}

