// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$font-base: 18;
$font-increment: 3;
$font-unit: 'px';

$white: #fff;
$grey-lt: #dee0e5;
$grey-mid: #a7a9ac;
$grey-dk: #000000;
$black: #343235;

$blue: #1c75bc;



/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$headline-font-stack: $text-font-stack;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/*

TODO - These are Bootstrap 3 breakpoints

$xs-min : "only screen and (min-width:none)";
$xs-max : "only screen and (max-width:767px)";
$xs-sm : "only screen (min-width: none) and (max-width:767px)";

$sm-min : "only screen and (min-width:768px)";
$sm-max : "only screen and (max-width:991px)";
$sm-md : "only screen (min-width: 768px) and (max-width:991px)";

$md-min : "only screen and (min-width:992px)";
$md-max : "only screen and (max-width:1199px)";
$md-lg : "only screen (min-width: 992px) and (max-width:1199px)";

$lg-min : "only screen and (min-width:1200px)";
$lg-max : "only screen and (max-width:none)";


 */





/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
